<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
 
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display&display=swap" rel="stylesheet">
    <title>Layout</title>
</head>
<body>
    <nav>
        <div class="nav_container">
            <div class="naves">
                <div class="logo">
                    <img src="/assets/images/LOGO.png" alt="">
                </div>
    
                <ul class="nav_content">
                    <li><a href="">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact us</a></li>
                    <li><a href="">Courses</a></li>
                </ul>
    
                <div class="butoons">
                    <button><a href="">Sign in</a></button>
                    <button class="join"><a href="">join</a></button>
                </div>

            </div>
        

        </div>
        <div class="hamburger">
            <div class="line1"></div>
            <div class="line3"></div>
        </div>
       
    </nav>



    <footer>
        <div class="firstfooter">
            <p class="get">
                Get updates straight into your  inbox
            </p>
            <div class="flexinput">
                <div class="inp">
                    <i class="far fa-envelope"></i>
                    <input type="text" placeholder="Enter Your Email Address" name="" id="">
                </div>

                <input class="submit" type="submit" value="Subscribe">
            </div>
        </div>

        <div class="secondfooter">
            <div class="flexsec">
                <div class="ong">
                    <img src="/assets/images/Logo2.png" alt="">
                    <p>This is a dummy header do not forget. This is a dummy header do not forget. This is a dummy header do not forget. </p>
                </div>

                <div class="twog">
                    <div class="twogp">
                        <p>Links</p>
                        <a href="">Sublinks</a>
                        <a href="">Sublinks</a>
                        <a href="">Sublinks</a>
                        <a href="">Sublinks</a>
                    </div>
                    <div class="twogp">
                        <p>Links</p>
                        <a href="">Sublinks</a>
                        <a href="">Sublinks</a>
                        <a href="">Sublinks</a>
                        <a href="">Sublinks</a>
                    </div>
                </div>
                <div class="twog">
                    <div class="twogp">
                        <p>Links</p>
                        <a href="">Sublinks</a>
                        <a href="">Sublinks</a>
                        <a href="">Sublinks</a>
                        <a href="">Sublinks</a>
                    </div>
                    <div class="twogp">
                        <p>Links</p>
                        <a href="">Sublinks</a>
                        <a href="">Sublinks</a>
                        <a href="">Sublinks</a>
                        <a href="">Sublinks</a>
                    </div>
                </div>
            </div>

            <p class="copy">This is supposed to be a copyright paragraph 2020</p>
        </div>

    </footer>

    <script src="/js/layout.js"></script>
</body>
</html>