<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../styles/login.css">
    <title>LOGIN</title>
</head>
<body>

    <i class="material-icons close">close</i>

<!-- IMAGE BACKGROUND -->

    <img class="one" src="../assets/images/Ellipse 65.png" alt="img">
    <img src="../assets/images/Ellipse 69.png" alt="img" class="two">
    <img src="../assets/images/Ellipse 66.png" alt="img" class="three">
    <img src="../assets/images/Ellipse 66.png" alt="img" class="threeone">
    <img src="../assets/images/Ellipse 66.png" alt="img" class="threetwo">
    <img src="../assets/images/Ellipse 68.png" alt="img" class="four">
    <img src="../assets/images/Ellipse 67.png" alt="img" class="five">

<!-- CONTENT -->

    <div class="content container">
        <h1>Welcome Back</h1>
        <p>This should be a paragraph for dummies logging in as their respective fields</p>
        <form action="">
            <label for="email" class="email">Email address</label>
            <br>
            <input type="email" id="email" name="email"
  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
            <br>
            <label for="password" class="password">Password</label>
            <br>
            <input type="password" id="pwd" name="pwd"
  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
  title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters">
            <br>
            <a href="#" class="fpassword">Forgot Password?</a>
            <br>
            <button type="submit" class="btn btn-block">Next</button>
        </form>
        <p>New user? <a href="#" class="signupl">Sign Up</a></p>
    </div>

<script>
    var closebtns = document.getElementsByClassName("close");
    var i;
    
    for (i = 0; i < closebtns.length; i++) {
        closebtns[i].addEventListener("click", function() {
        this.parentElement.style.display = 'none';
        });
    }
</script>

</body>
</html>