<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../styles/login-option.css">
    <title>LOGIN</title>
</head>
<body>

<!-- NAVIGATION -->

    <nav>
        <div class="nav_container">
            <div class="naves">
                <div class="logo">
                    <img src="../assets/images/LOGO.png" alt="">
                </div>
    
                <ul class="nav_content">
                    <li><a href="">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact us</a></li>
                    <li><a href="">Courses</a></li>
                </ul>
    
                <div class="butoons">
                    <button><a href="login.html">Sign in</a></button>
                    <button class="join"><a href="signup-option.html">Join</a></button>
                </div> 

            </div>
        

        </div>
        <div class="hamburger">
            <div class="line1"></div>
            <div class="line3"></div>
        </div>
       
    </nav>

<!-- IMAGE BACKGROUND -->

    <img class="one" src="../assets/images/Ellipse 65.png" alt="img">
    <img src="../assets/images/Ellipse 69.png" alt="img" class="two">
    <img src="../assets/images/Ellipse 66.png" alt="img" class="three">
    <img src="../assets/images/Ellipse 66.png" alt="img" class="threeone">
    <img src="../assets/images/Ellipse 66.png" alt="img" class="threetwo">
    <img src="../assets/images/Ellipse 68.png" alt="img" class="four">
    <img src="../assets/images/Ellipse 67.png" alt="img" class="five">

<!-- CONTENT -->

    <div class="content container">
        <h2 style="text-align: center;">Login</h2>
        <h3 class="first" style="text-align: center;">Lorem ipsum dolor sit amet, consectetur.</h3>
        <button>
            <a href="login.html">
                <h3 >Login as a Student</h3>
                <p>This is dummy lorem ipsum for a tutor</p>
            </a>
        </button>
        <br>
        <button>
            <a href="login.html">
                <h3>Login as a Parent</h3>
                <p>This is dummy lorem ipsum for a tutor</p>
            </a>
        </button>
        <br>
        <button>
            <a href="login.html">
                <h3>Login as a Resource Person</h3>
                <p>This is dummy lorem ipsum for a tutor</p>
            </a>
        </button> 
    </div>

    <script src="../js/layout.js"></script>
</body>
</html>