/* NAVIGATION */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    padding-top: 25px;
    font-family: 'Montserrat', sans-serif;
}
nav{
   width: 100%;
   position: fixed;
   z-index: 2;
   top: 0;
   left: 0;
}
.nav_container{
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(78, 55, 178, 0.05);
 
    padding-top: 20px;
    padding-bottom: 10px;
    
}
.naves{
    width: 85%;
    margin: auto;
    display: flex;
    
}

.logo{
    width: 38%;
}

.logo  img{
    width: 80px;
}

ul.nav_content{
  display: flex;
  width: 32%;
  justify-content: space-between;
  margin-right: 5%;
  
}

ul.nav_content li{
    
    list-style-type: none;
    
}

ul.nav_content li a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: black;
    transition: 0.3s ease;
    padding-bottom: 3px;
    
}
ul.nav_content li a:hover{

    border-bottom: 2px solid #FF7750;
    color: #FF7750;

}

.butoons{
    display: flex;
    transform: translateY(-5px);
    width: 25%;
    
    
}

.butoons button{
    margin-right: 5px;
    padding: 10px 0px 10px 0px;
    font-size: 13px;
    background-color: white;
    color: #FF7750;
    border-radius: 5px;
    cursor: pointer;
    border: transparent;
    border: 1px solid #FF7750;
    width: 95px;
    transition: 0.8s ease;
}
.butoons button a{
    color: #FF7750;
    text-decoration: none;
    font-size: 11px;
}
.butoons button.join a{
    color: white;
    text-decoration: none;
}
.butoons button:hover{
  background-color: #FF7750;
  color: white;
}
.butoons button:focus{
    outline: none;
  }
.butoons button.join:hover{
    background-color: white;
    color: #FF7750;
  }
.butoons button.join{
    background-color: #FF7750;
    color: white;
    margin-left: 5%;
}
@media(max-width:710px){
    .secondfooter .flexsec{
        flex-direction: column;
    }
    .flexsec .ong{
        width: 100%;
        margin-bottom: 20px;
    }
    .flexsec .twog{
        width: 40%;
        margin-top: 20px;
    }
}
@media(max-width:768px){

    .firstfooter .flexinput{
        flex-direction: column;
        text-align: center;
    }
    .flexinput .inp{
        width: 100%;
    }
    .flexinput .submit{
        margin: auto;
        margin-top: 20px;
        width: 40%;
    }
    
    ul.nav_content,.butoons {
        display: none;
    }

    .hamburger {
        position: fixed;
        top: 27px;
        right: 30px;
        z-index: 2;
        height: 30px;
        cursor: pointer;
       
    }

    .line1,
    .line3 {
      width: 25px;
      height: 3px;
      border-radius: 5px;
      background-color: #FF7750; 
    }
    .line3 {
        transform: translateY(6px);
        width: 18px; 
    }

    .close {
        top: 27px; 
    }

    .close .line1 {
        transform: rotate(49deg);
        
        animation: second-line 1s ease-in-out;
        -webkit-animation: second-line 1s ease-in-out; 
    }
    .close .line3 {
        transform: translateY(0);
        width: 25px;
        margin-top: -3.5px;
        transform: rotate(-50deg);
        animation: first-line 1s ease-in-out;
        -webkit-animation: first-line 1s ease-in-out; 
    }

    .hamburgerback .line3 {
        animation: first-lineback 0.4s ease-in-out;
        -webkit-animation: first-lineback 0.4s ease-in-out;
        animation: third-line 0.4s ease-in-out;
        -webkit-animation: third-line 0.4s ease-in-out; 
    }
    .hamburgerback .line1 {
        animation: second-lineback 0.4s ease-in-out;
        -webkit-animation: second-lineback 0.4s ease-in-out; 
    }

    @keyframes second-line {

        0% {
          transform: rotate(0); }
        100% {
          transform: rotate(45deg); } 
        
    }

    @-webkit-keyframes second-line {

        0% {
          transform: rotate(0); }
        100% {
          transform: rotate(45deg); } 
        
    }

    @keyframes first-line {

        0% {
          transform: rotate(0); }
        100% {
          transform: rotate(-45deg); } 
    
    }

    @-webkit-keyframes first-line {

        0% {
          transform: rotate(0); }
        100% {
          transform: rotate(-45deg); } 
        
    }

    @keyframes first-lineback {
        0% {
          transform: rotate(-45deg); }
        100% {
          transform: rotate(0); } 
    }

    @-webkit-keyframes first-lineback {
        0% {
          transform: rotate(-45deg); }
        100% {
          transform: rotate(0); } 
        
    }

    @keyframes second-lineback {
        0% {
          transform: rotate(45deg); }
        100% {
          transform: rotate(0); } 
        
    }

    @-webkit-keyframes second-lineback {
        0% {
          transform: rotate(45deg); }
        100% {
          transform: rotate(0); } 
    }

    @keyframes third-line {
        0% {
          width: 20px; }
        100% {
          width: 12px; } 
        
    }
    @-webkit-keyframes third-line {
        0% {
          width: 20px; }
        100% {
          width: 12px; } 
    }


    ul.nav_content.responsive {
        animation: navbar-left 1s ease-in-out;
        -webkit-animation: navbar-left 1s ease-in-out;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 57px;
        width: 150px;
        right: 0;
        padding: 40px 30px;
        background-color: whitesmoke; 
    }
    ul.nav_content{
        margin-right: 0;
    }
    ul.nav_content.responsive li{
        color: white;
        margin-left: 0px;
        margin-bottom: 15px; 
    }
    ul.nav_content.responsive li a{
        color: #FF7750;
    }

    ul.nav_content.responsiveReturn {
        transform: translateX(100%);
        animation: navbar-right 1s ease-in-out;
        -webkit-animation: navbar-right 1s ease-in-out;
    }

    @keyframes navbar-left {
        0% {
          transform: translateX(100%); }
        100% {
          transform: translateX(0); } 
    }

    @-webkit-keyframes navbar-left {
        0% {
          transform: translateX(100%); }
        100% {
          transform: translateX(0); } 
    }

    @keyframes navbar-right {
        0% {
          transform: translateX(0); }
        100% {
          transform: translateX(100%); } 
    }

    @-webkit-keyframes navbar-right {
        0% {
          transform: translateX(0); }
        100% {
          transform: translateX(100%); } 
    }





   

}


@media(max-width:560px){
    .firstfooter p{
        font-size: 20px;
    }
    .firstfooter .flexinput{
        width: 80%;
    }
    .flexinput .inp{
        width: 100%;
    }
    .flexinput .submit{
        
        width: 60%;
    }
}

@media(max-width:350px){

    .firstfooter .flexinput{
        width: 95%;
    }
  
    .flexinput .inp{
        width: 100%;
    }
    
}

/* CONTENT */

body{
    background-color: #F6F6FB;
    color: black;
}
.content{
    background-color: white;
    margin-top: 9%;
    padding: 20px;
    width: 30%;
    border-radius: 10px;
    /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.10); */
}
.content button{
    border: none;
    border-left: 3px solid #4E37B2;
    background-color: #fff; 
    margin-bottom: 20px;
    padding-left: 30px;
    padding-bottom: 5px;
    width: 100%;
    text-align: left;
    border-radius: 2px;
    outline: none;
    transition: 0.4s;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.10);
}
.content button a{
    color: black;
    text-decoration: none;
}
.content button a:hover{
    color: black;
    text-decoration: none;
}
.content button a:active {
    background-color: black;
    text-decoration: none;
  }
.content button:hover{
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1), 0 8px 22px 0 rgba(0, 0, 0, 0.12);
    transition: 0.4s;
}
.content p{
    color: rgba(131, 131, 131, 0.671);
    font-size: 14px;
}
.content h3{
    font-size: 16px;
} 
.content h2{
    margin-bottom: 30px;
    font-size: 15px;
}
.content .first{
    margin-bottom: 30px;
}
.one{
    width: 8%;
    position: fixed;
    top: 14%;
    left: 10%;
}
.two{
    width: 7%;
    position: fixed;
    top: 54%;
    left: 27%;
}
.three{
    width: 5%;
    position: fixed;
    top: 74%;
    left: 0%;
}
.threeone{
    width: 5%;
    position: fixed;
    top: 43%;
    left: 90%;
}
.threetwo{
    width: 7%;
    position: fixed;
    top: 66%;
    left: 75%;
}
.four{
    width: 8%;
    position: fixed;
    top: 12%;
    left: 80%;
}
.five{
    width: 8%;
    position: fixed;
    top: 87%;
    left: 13%;
}


@media screen and (max-width: 600px){
    .content{
        width: 70% !important;
        margin-top: 22% !important;
    }
    .one, .two, .three, .threeone, .threetwo, .four, .five{
        width: 9%;
    }
}
@media screen and (max-width: 760px){
    .content{
        width: 60%;
        position: relative;
        margin-top: 20%;
    }
    .four{
        top: 15%;
    }
    .five{
        top: 94%;
    }
}
@media screen and (max-width: 1000px){
    .content{
        width: 50%;
        position: relative;
        margin-top: 14%;
    }
    .content button{
        padding-left: 20px;
    }
}
